.bg-light {
  background-image: url('../../../../../assets/img/bg/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  padding: 0.7rem 0.3rem;
  margin-bottom: 1rem;
  border-radius: 0.1rem;
  text-align: center;
  background-color: #5e656a;

  img {
    width: 200px;
  }
}

.input-group-text {
  &.invalid {
    background-color: #eebdb9;
    border: 1px solid #e23131;

    .icon:not(.icon-c-s):not(.icon-custom-size) {
      color: #e23131;
    }
  }
}

.error-block {
  padding: 0.2rem 0.5rem;
  color: #e23131;
  background-color: #ffd5d1;
  border: 1px solid #f3c5c0;
  border-radius: 0.2rem;
}
