<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8" lg="6" xl="5">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="form" cForm (ngSubmit)="onSubmit()" novalidate class="needs-validation">
                <div class="logo">
                  <img *ngIf="!isClimsoft" src="./assets/img/brand/opencdms-logo.png" alt="">
                  <img *ngIf="isClimsoft" src="./assets/img/brand/climsoft_sm.png" alt="">
                </div>
                <h4>Password Reset</h4>
                <p class="text-medium-emphasis">Please enter your email</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText [ngClass]="{ 'invalid': (submitted || f['email'].touched) && f['email'].invalid }">
                    <svg cIcon name="cilEnvelopeClosed"></svg>
                  </span>
                  <input
                    formControlName="email"
                    [autofocus]="true"
                    cFormControl
                    [ngClass]="{ 'is-invalid': (submitted || f['email'].touched) && f['email'].invalid }"
                    placeholder="Email" />
                    <div col="12" class="invalid-feedback pl-1" *ngIf="f['email'].errors">
                      <div *ngIf="f['email'].errors['required']"> <i class="fa fa-times"></i> Email is required.</div>
                      <div *ngIf="f['email'].errors['pattern']"> <i class="fa fa-times"></i> Invalid email value provided.</div>
                    </div>
                </c-input-group>
                <c-row *ngIf="submitted && error">
                  <c-col class="mt-2 mb-3">
                    <div class="error-block"> <svg cIcon name="cilFaceDead"></svg> We did not find any account associated with the given email..</div>
                  </c-col>
                </c-row>
                <c-row [ngClass]="{ 'mt-3': !error }">
                  <c-col xs="12">
                    <button type="submit" cButton class="px-4" color="dark">
                      <c-spinner *ngIf="loading" aria-hidden="true" size="sm"></c-spinner>
                      Request Reset
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
