<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <c-col xs="12">
            <app-infinite-loading *ngIf="loading"></app-infinite-loading>
          </c-col>
          <c-col xs="10">
            <h4> <img src="./assets/img/icons/station_icon.png" width="40" alt=""> {{stationName}}</h4>
          </c-col>
          <c-col xs="2" class="text-end">
            <a cButton
                size="sm"
                color="warning"
                shape="rounded-pill"
                [routerLink]="['update']"
                cTooltip="Add Element">
              <svg cIcon name="cilPencil" size="sm"></svg>
          </a>
          </c-col>
        </c-row>
        <c-row class="mt-3">
          <c-col xs="12" sm="6" lg="4" xl="3" *ngFor="let item of station">
            <app-info-block [config]="item"></app-info-block>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
<c-row ngPreserveWhitespaces *ngIf="station">
  <c-col md="12">
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <c-col xs="10">
            <h5>Elements</h5>
          </c-col>
          <c-col xs="2" class="text-end">
            <button cButton
                    size="sm"
                    color="warning"
                    shape="rounded-pill"
                    (click)="addElement()"
                    cTooltip="Add Element">
              <svg cIcon name="cilPlus" size="sm"></svg>
            </button>
          </c-col>
        </c-row>
        <c-row class="mt-3">
          <c-col xs="12">
            <app-station-elements (onSelect)="updateElement($event)" [source]="elements"></app-station-elements>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row ngPreserveWhitespaces *ngIf="station">
  <c-col xs="12" lg="12" xl="6">
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <c-col xs="10">
            <h5>Location History</h5>
          </c-col>
          <c-col xs="2" class="text-end">
            <button cButton
                    size="sm"
                    color="warning"
                    shape="rounded-pill"
                    (click)="addLocHistory()"
                    cTooltip="Add Location History">
              <svg cIcon name="cilPlus" size="sm"></svg>
            </button>
          </c-col>
        </c-row>
        <c-row class="mt-3 mh-12">
          <c-col xs="12">
            <app-location-history (onSelect)="editLocHistory($event)" [source]="history"></app-location-history>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
  <c-col xs="12" lg="12" xl="6">
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <c-col xs="10">
            <h5>Qualifiers</h5>
          </c-col>
          <c-col xs="2" class="text-end">
            <button cButton
                    size="sm"
                    color="warning"
                    shape="rounded-pill"
                    (click)="addQualifier()"
                    cTooltip="Add Location History">
              <svg cIcon name="cilPlus" size="sm"></svg>
            </button>
          </c-col>
        </c-row>
        <c-row class="mt-3 mh-12">
          <c-col xs="12">
            <app-station-qualifiers (onSelect)="editQualifier($event)" [source]="qualifiers"></app-station-qualifiers>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row ngPreserveWhitespaces *ngIf="station">
  <c-col xs="12" lg="12" xl="6">
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <c-col xs="10">
            <h5>Physical Features</h5>
          </c-col>
          <c-col xs="2" class="text-end">
            <button cButton
                    size="sm"
                    color="warning"
                    shape="rounded-pill"
                    (click)="addPhysicalFeature()"
                    cTooltip="Add Location History">
              <svg cIcon name="cilPlus" size="sm"></svg>
            </button>
          </c-col>
        </c-row>
        <c-row class="mt-3 mh-12">
          <c-col xs="12">
            <app-station-physical-features (onSelect)="viewPhysicalFeature($event)" [source]="physicalFeatures"></app-station-physical-features>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>

  <c-col xs="12" lg="12" xl="6">
    <c-card class="mb-4">
      <c-card-body>
        <c-row>
          <c-col xs="10">
            <h5>Paper Archives</h5>
          </c-col>
          <c-col xs="2" class="text-end">
            <button cButton
                    size="sm"
                    color="warning"
                    shape="rounded-pill"
                    (click)="addPaperArchive()"
                    cTooltip="Add Location History">
              <svg cIcon name="cilPlus" size="sm"></svg>
            </button>
          </c-col>
        </c-row>
        <c-row class="mt-3 mh-12">
          <c-col xs="12">
            <app-station-paper-archive (onSelect)="viewPaperArchive($event)" [source]="paperArchives"></app-station-paper-archive>
          </c-col>
        </c-row>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
