<div class="modal-header">
  <h5 class="modal-title pull-left">Physical Feature Classes</h5>
</div>
<div class="modal-body">
  <c-row>
    <c-col md="12"></c-col>
    <c-col md="12">
      <table cTable>
        <thead>
        <tr>
          <th scope="col">Feature Class</th>
          <th scope="col">Description</th>
          <th scope="col">Refers To</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of classes$ | async">
          <th scope="row">{{c.feature_class}}</th>
          <td scope="col">{{c.description}}</td>
          <td scope="col">{{c.refers_to}}</td>
          <td>
            <button cButton
                    type="button"
                    size="sm"
                    color="light"
                    shape="rounded-pill"
                    (click)="edit(c)"
                    cTooltip="Update Station">
              <svg cIcon name="cilPencil" size="sm"></svg>
            </button>
          </td>
        </tr>
        <tr *ngIf="!(classes$ | async)?.length">
          <td colspan="4">
            <c-alert color="primary">No physical feature classes available.</c-alert>
          </td>
        </tr>
        </tbody>
      </table>
    </c-col>
  </c-row>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="onNew()">New Class</button>
  <button type="button" class="btn btn-dark" (click)="onCancel()">Close</button>
</div>
