$block-bg: #e5ecf2;
$block-border: #cdd4da;
$border-radius: 0.2rem;
$border-focus: #9dacb9;

$block-error-bg: #ffe2e2;
$block-error-border: #dd6868;
$block-focus-bg: #dbfaff;
$block-dirty-bg: #a3e8fd;
$block-dirty-border: #8cc9db;

.hourly-data-row {
  padding: 0.1rem 0.3rem;
  margin: 0.2rem 0;
  background-color: $block-bg;
  border: 1px solid $block-border;
  border-radius: $border-radius;

  .label {
    text-align: center;
  }

  c-col {
    padding: 0 0.2rem;
  }

  &.has-error {
    background-color: $block-error-bg;
    border: 1px solid $block-error-border;
  }

  &.is-invalid {
    background-color: $block-error-bg;
    border: 1px solid $block-error-border;
  }

  &.is-dirty {
    background-color: $block-dirty-bg;
    border: 1px solid $block-dirty-border;
  }

  &.has-focus {
    background-color: #e2e7ec;
    border: 1px solid $border-focus;
    box-shadow: rgb(0, 0, 0, 0.25) 1px 1px 0px 1px;
  }

  .form-control:disabled {
    cursor: not-allowed;
  }

  .btn.rounded-pill {
    padding: 0.1rem 0.4rem;
    font-size: 0.9rem;
  }

  .text-label {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border-radius: 0.25rem;
    border: 1px solid #8cc9db;
  }
}
