.typeahead-loading {
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;

  img {
    width: 18px;
    margin-right: 0.2rem;
  }
}

typeahead-container {
  .dropdown-item.active {
    background-color: #277bc9 !important;
  }
}

.item-heading {
  font-size: 0.7rem;
}

.item-title {
  font-size: 0.9rem;
}
