.typeahead-loading {
  padding: 0.3rem 0.6rem;
  font-size: 0.9rem;

  img {
    width: 18px;
    margin-right: 0.2rem;
  }
}

typeahead-container {
  .dropdown-item.active {
    background-color: #277bc9 !important;
  }
}

.item-heading {
  font-size: 0.7rem;
}

.item-title {
  font-size: 0.9rem;
}

.typeahead-error {
  margin-top: 0.2rem;
  padding: 0 0.3rem;

  &-inner {
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
    background-color: #ffd9d9;
    border: 1px solid #c7a9a9;
    border-radius: 0.2rem;
    color: #d11a1a;
  }
}
