<div class="modal-header">
  <h5 class="modal-title pull-left">View Paper Archive</h5>
  <button type="button" class="modal-close" aria-label="Close" (click)="onCancel()">
    <svg cIcon name="cilX"></svg>
  </button>
</div>
<div class="modal-body">
  <c-row>
    <c-col xs="12" md="6">
      <app-info-block [config]="{ key: 'Classified Into', value: archive.classified_into }"></app-info-block>
    </c-col>
    <c-col xs="12" md="6">
      <app-info-block [config]="{ key: 'Form Date Time', type: 'date', value: archive.form_datetime }"></app-info-block>
    </c-col>
  </c-row>
  <c-row>
    <c-col md="12" class="p-3">
      <div class="image-wrapper mh-12">
        <img [src]="imageSrc" alt="">
      </div>
    </c-col>
  </c-row>
</div>
