<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <c-nav variant="tabs">
          <c-nav-item *ngFor="let t of tabs; let i = index" [cTabContent]="dataEntryTabContent" [tabPaneIdx]="i" aria-disabled>
            <a cNavLink [routerLink]="[t.route]" routerLinkActive="active"> {{t.name | uppercase}}</a>
          </c-nav-item>
        </c-nav>
        <c-tab-content #dataEntryTabContent="cTabContent">
          <c-row>
            <c-col xs="12" lg="12" class="p-4">
              <router-outlet></router-outlet>
            </c-col>
          </c-row>
        </c-tab-content>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
