<div class="flag-picker" [ngClass]="{ 'enabled': toggled }">
  <div class="inner">
    <a [cTooltip]="activeLabel"
       [ngClass]="{ 'disabled': disabled }"
       class="active-flag btn {{activeFlag !== '' ? flagConfig[activeFlag].class : 'btn-empty'}}"
       (click)="toggleActive()">
       {{activeFlag === ''? ' ' : activeFlag}}
    </a>
  </div>
  <ul>
    <li>
      <button
        type="button"
        class="btn btn-circle btn-light"
        (click)="selectFlag('')">
      </button>
    </li>
    <li *ngFor="let f of flags">
      <button
        type="button"
        class="btn btn-circle"
        [ngClass]="flagConfig[f].class"
        (click)="selectFlag(f)">
        {{f}}
      </button>
    </li>
  </ul>
</div>
