<c-row>
  <c-col md="12">
    <ul class="row qualifiers">
      <li *ngFor="let q of qualifiers" xs="6" sm="4" md="3" lg="2" xl="2" class="p-1">
        <div class="inner">
          <c-row>
            <c-col md="10">
              <div class="qual-key"> {{q.qualifier}} </div>
              <div class="qual-value"> {{q.station_network_type}} </div>
            </c-col>
            <c-col md="2" class="text-center align-self-center">
              <a (click)="selectQualifier(q)">
                <svg cIcon name="cilPencil"></svg>
              </a>
            </c-col>
          </c-row>
        </div>
      </li>
      <li class="no-records">
        <c-alert *ngIf="!qualifiers?.length" color="info"> <strong>Info!</strong> No qualifiers associated with this station.</c-alert>
      </li>
    </ul>
  </c-col>
</c-row>
