<h5> Daily data for the whole month {{monthModified}} </h5>
<hr>
<form [formGroup]="form" *ngIf="form" novalidate (ngSubmit)="onSubmit($event)" (keydown.enter)="onReturn($event)">
  <c-row>
    <c-col sm="12" class="text-end">
      <app-flag-legend></app-flag-legend>
    </c-col>
    <c-col sm="12" class="text-end" *ngIf="loading">
      <app-infinite-loading></app-infinite-loading>
    </c-col>
    <c-col sm="12">
      <fieldset class="form-group p-3 mt-2">
        <legend>Form Selector</legend>
        <c-row>
          <c-col xs="12" md="6" xl="3">
            <div class="mb-2">
              <label cLabel for="station">Station</label>
              <input
                id="station"
                type="hidden"
                formControlName="station"
                aria-label="default input"
                cFormControl
                [ngClass]="{ 'is-invalid': (submitted || f['station'].touched) && f['station'].invalid }"
              />
              <div class="typeahead-selection theme form-group" *ngIf="station">
                <div class="typeahead-selection-inner">
                  <span>{{station.station_name}}</span>
                  <a (click)="resetStation()" class="btn"> <svg cIcon name="cilX"></svg> </a>
                </div>
              </div>
              <app-station-selection *ngIf="!station" (onSelection)="onStationSelect($event)"></app-station-selection>
              <div col="12" class="invalid-feedback" *ngIf="f['station'].errors">
                <div *ngIf="f['station'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Station selection required.</div>
              </div>
            </div>
          </c-col>

          <c-col xs="12" md="6" xl="3">
            <div class="mb-2">
              <label cLabel for="element">Element</label>
              <input
                id="element"
                type="hidden"
                formControlName="element"
                aria-label="default input"
                cFormControl
                [ngClass]="{ 'is-invalid': (submitted || f['element'].touched) && f['element'].invalid }"
              />
              <div class="typeahead-selection theme form-group" *ngIf="element">
                <div class="typeahead-selection-inner">
                  <span>{{element.element_name}}</span>
                  <a (click)="resetElement()" class="btn"> <svg cIcon name="cilX"></svg> </a>
                </div>
              </div>
              <app-element-selection *ngIf="!element" (onSelection)="onElementSelect($event)"></app-element-selection>
              <div col="12" class="invalid-feedback" *ngIf="f['element'].errors">
                <div *ngIf="f['element'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Element selection is required.</div>
              </div>
            </div>
          </c-col>

          <c-col xs="12" md="6" xl="3">
            <label cLabel for="element">Month/Year</label>
            <c-input-group class="mb-3">
              <span cInputGroupText id="basic-addon1">
                <svg cIcon name="cilCalendar"></svg>
              </span>
              <input
                id="element"
                type="hidden"
                formControlName="monthYear"
                aria-label="default input"
                cFormControl
                placeholder="Station Name"
              />
              <input
                  name="monthYear"
                  placeholder="Select Year & Month"
                  cFormControl
                  bsDatepicker
                  (bsValueChange)="onDateSelection($event)"
                  [bsConfig]="bsConfig"
                  [bsValue]="monthYearValue"
                  (onShown)="onOpenCalendar($event)"
                  autocomplete="off"
                  [ngClass]="{ 'is-invalid': submitted && f['monthYear'].invalid }"
                >
                <div sm="12" class="invalid-feedback" *ngIf="submitted && f['monthYear'].invalid">
                  <svg cIcon name="cilXCircle"></svg> Year and Month is required
                </div>
            </c-input-group>
          </c-col>

          <c-col xs="12" md="6" xl="3">
            <div class="mb-2">
              <label cLabel for="hoursValue">Hour</label>
              <select formControlName="dayHour"
                      aria-label="Hour"
                      cSelect
                      (change)="onHourSelect($event.target)"
                      [ngClass]="{ 'is-invalid': (submitted || f['dayHour'].touched) && f['dayHour'].invalid }">
                <option value>Select Hour</option>
                <option *ngFor="let h of hoursList" [value]="h">{{getHoursValue(h)}}</option>
              </select>
              <div col="12" class="invalid-feedback" *ngIf="f['dayHour'].errors">
                <div *ngIf="f['dayHour'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Hour selection is required.</div>
              </div>
            </div>
          </c-col>
        </c-row>
      </fieldset>
    </c-col>
  </c-row>

  <fieldset class="form-group p-3 my-4">
    <legend>Units</legend>
    <c-row>
      <c-col xs="12" md="6" lg="3">
        <div class="mb-2">
          <label cLabel for="hoursValue">Temperature</label>
          <select formControlName="temperature"
                  aria-label="Temperature"
                  cSelect
                  [ngClass]="{ 'is-invalid': (submitted || f['temperature'].touched) && f['temperature'].invalid }">
            <option value>Please Select</option>
            <option *ngFor="let op of unitOptions.temperature" [value]="op.key">{{op.value}}</option>
          </select>
          <div col="12" class="invalid-feedback" *ngIf="f['temperature'].errors">
            <div *ngIf="f['temperature'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Selection is required.</div>
          </div>
        </div>
      </c-col>
      <c-col xs="12" md="6" lg="3">
        <div class="mb-2">
          <label cLabel for="precip">Precipitation</label>
          <select formControlName="precip"
                  aria-label="Precipitation"
                  cSelect
                  [ngClass]="{ 'is-invalid': (submitted || f['precip'].touched) && f['precip'].invalid }">
            <option value>Please Select</option>
            <option *ngFor="let op of unitOptions.precipitation" [value]="op.key">{{op.value}}</option>
          </select>
          <div col="12" class="invalid-feedback" *ngIf="f['precip'].errors">
            <div *ngIf="f['precip'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Selection is required.</div>
          </div>
        </div>
      </c-col>
      <c-col xs="12" md="6" lg="3">
        <div class="mb-2">
          <label cLabel for="cloudh">Cloud Height</label>
          <select formControlName="cloud_height"
                  aria-label="Hour"
                  cSelect
                  [ngClass]="{ 'is-invalid': (submitted || f['cloud_height'].touched) && f['cloud_height'].invalid }">
            <option value>Please Select</option>
            <option *ngFor="let op of unitOptions.cloudHeight" [value]="op.key">{{op.value}}</option>
          </select>
          <div col="12" class="invalid-feedback" *ngIf="f['cloud_height'].errors">
            <div *ngIf="f['cloud_height'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Selection is required.</div>
          </div>
        </div>
      </c-col>
      <c-col xs="12" md="6" lg="3">
        <div class="mb-2">
          <label cLabel for="visibility">Visibility</label>
          <select formControlName="visibility"
                  aria-label="Hour"
                  cSelect
                  [ngClass]="{ 'is-invalid': (submitted || f['visibility'].touched) && f['visibility'].invalid }">
              <option value>Please Select</option>
              <option *ngFor="let op of unitOptions.visibility" [value]="op.key">{{op.value}}</option>
          </select>
          <div col="12" class="invalid-feedback" *ngIf="f['visibility'].errors">
            <div *ngIf="f['visibility'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Selection is required.</div>
          </div>
        </div>
      </c-col>
    </c-row>
  </fieldset>

  <fieldset class="form-group p-3 mt-2">
    <legend>Daily Data <span *ngIf="year && month">for {{getDateText(year, month)}}</span></legend>

    <c-row *ngIf="error">
      <c-col md="12">
        <c-alert color="danger"><strong>Error(s) Found!</strong> {{error}}</c-alert>
      </c-col>
    </c-row>

    <c-row *ngIf="element && formDaysGroups.length">
      <c-col md="12 mt-3 mb-3">
        <div class="form-info">
          <img src="./assets/img/icons/info.png" alt="">
          <h5>Please use the following information for data entry</h5>
          <p *ngIf="element.lower_limit && element.upper_limit">
            Values must be between <strong> {{element.lower_limit | number}} </strong> and <strong>{{element.upper_limit | number}} </strong>
            <a class="p-0" color="link" cButton (click)="moreInfo()"> more... </a>
          </p>
          <p *ngIf="!element.lower_limit || !element.upper_limit">
            No validation information available for the selected element. <button type="button" color="link" cButton (click)="moreInfo()"> more... </button>
          </p>
        </div>
      </c-col>
    </c-row>

    <c-row formArrayName="days" *ngIf="formDaysGroups.length">
      <c-col sm="12" md="6" lg="4" xl="3">
        <c-row class="daily-header">
          <c-col class="py-1">Day</c-col>
          <c-col class="py-1">Value</c-col>
          <c-col class="py-1">Flag</c-col>
          <c-col class="py-1">Period</c-col>
        </c-row>
      </c-col>
      <c-col sm="12" md="6" lg="4" xl="3" class="d-none d-md-block">
        <c-row class="daily-header">
          <c-col class="py-1">Day</c-col>
          <c-col class="py-1">Value</c-col>
          <c-col class="py-1">Flag</c-col>
          <c-col class="py-1">Period</c-col>
        </c-row>
      </c-col>
      <c-col lg="4" xl="3" class="d-none d-lg-block">
        <c-row class="daily-header">
          <c-col class="py-1">Day</c-col>
          <c-col class="py-1">Value</c-col>
          <c-col class="py-1">Flag</c-col>
          <c-col class="py-1">Period</c-col>
        </c-row>
      </c-col>
      <c-col xl="3" class="d-none d-xl-block">
        <c-row class="daily-header">
          <c-col class="py-1">Day</c-col>
          <c-col class="py-1">Value</c-col>
          <c-col class="py-1">Flag</c-col>
          <c-col class="py-1">Period</c-col>
        </c-row>
      </c-col>
      <c-col sm="12" md="6" lg="4" xl="3">
        <c-row>
          <c-col md="12" *ngFor="let g of formDaysGroups | slice: 0:8;">
            <app-daily-day-form-group
              #dailyGroup
              [disabled]="!isEditable"
              [modified]="isModified"
              (onReturn)="handleReturn($event)"
              (onFocus)="dayFocus($event)"
              (onBlur)="dayBlur($event)"
              (onDirty)="onFormModified($event)"
              (onRevert)="revertDay($event)"
              [limits]="limits"
              [group]="g"></app-daily-day-form-group>
          </c-col>
        </c-row>
      </c-col>
      <c-col sm="12" md="6" lg="4" xl="3">
        <c-row>
          <c-col md="12" *ngFor="let g of formDaysGroups | slice: 8:16;">
            <app-daily-day-form-group
              #dailyGroup
              [disabled]="!isEditable"
              [modified]="isModified"
              (onReturn)="handleReturn($event)"
              (onFocus)="dayFocus($event)"
              (onBlur)="dayBlur($event)"
              (onDirty)="onFormModified($event)"
              (onRevert)="revertDay($event)"
              [limits]="limits"
              [group]="g"></app-daily-day-form-group>
          </c-col>
        </c-row>
      </c-col>
      <c-col sm="12" md="6" lg="4" xl="3">
        <c-row>
          <c-col md="12" *ngFor="let g of formDaysGroups | slice: 16:24;">
            <app-daily-day-form-group
              #dailyGroup
              [disabled]="!isEditable"
              [modified]="isModified"
              (onReturn)="handleReturn($event)"
              (onFocus)="dayFocus($event)"
              (onBlur)="dayBlur($event)"
              (onDirty)="onFormModified($event)"
              (onRevert)="revertDay($event)"
              [limits]="limits"
              [group]="g"></app-daily-day-form-group>
          </c-col>
        </c-row>
      </c-col>
      <c-col sm="12" md="6" lg="4" xl="3">
        <c-row>
          <c-col md="12" *ngFor="let g of formDaysGroups | slice: 24:31;">
            <app-daily-day-form-group
              #dailyGroup
              [disabled]="!isEditable"
              [modified]="isModified"
              (onReturn)="handleReturn($event)"
              (onFocus)="dayFocus($event)"
              (onBlur)="dayBlur($event)"
              (onDirty)="onFormModified($event)"
              (onRevert)="revertDay($event)"
              [limits]="limits"
              [group]="g"></app-daily-day-form-group>
          </c-col>
        </c-row>
      </c-col>
      <!-- <c-col xs="12" md="6" lg="4" xl="3" *ngFor="let g of formDaysGroups; let i = index">11
        <app-daily-day-form-group [group]="g"></app-daily-day-form-group>
      </c-col> -->
    </c-row>
    <c-row class="mt-3">
      <c-col sm="12" md="6" lg="4" xl="3">
        <div class="mb-2">
          <label cLabel for="total">Total</label>
          <input type="number"
                 class="txt-total"
                 formControlName="total"
                 aria-label="total"
                 placeholder="Total"
                 [ngClass]="{ 'is-valid': f['total'].value === calcTotal, 'is-invalid': f['total'].value !== calcTotal  }"
                 cFormControl />
        </div>
      </c-col>
    </c-row>
  </fieldset>
  <hr class="my-4">
  <c-row>
    <c-col xs="12 py-4">
      <button type="submit" cButton class="px-3" color="dark">
        <c-spinner *ngIf="loading" aria-hidden="true" size="sm"></c-spinner> {{ hasRecord ? 'Update' : 'Save'}} </button>
      <button type="button" cButton class="px-3 mx-1" color="dark" (click)="onReset()"> Reset </button>
      <button type="button" cButton class="px-3" color="dark" (click)="onCancel()"> Cancel </button>
    </c-col>
  </c-row>
</form>
