<div class="modal-header">
  <h5 class="modal-title pull-left"> <img src="./assets/img/icons/password.png" width="22" alt=""> Change Password</h5>
  <button type="button" class="btn-close pull-right" aria-label="Close" (click)="onCancel()"></button>
</div>
<div class="modal-body">
  <c-alert *ngIf="submitted && form.invalid" color="danger"><strong>Error(s)!</strong> Please correct the following errors.</c-alert>
  <form cForm [formGroup]="form" novalidate (ngSubmit)="onSubmit($event)">

    <c-row>
      <c-col xs="12">
        <div class="mb-2">
          <label cLabel for="current">Current Password</label>
          <input
            id="current"
            type="password"
            formControlName="current"
            aria-label="default input"
            cFormControl
            [ngClass]="{ 'is-invalid': (submitted || f['current'].touched) && f['current'].invalid }"
            placeholder="Current Password"
          />
          <div col="12" class="invalid-feedback" *ngIf="f['current'].errors">
            <div *ngIf="f['current'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Current password is required.</div>
          </div>
        </div>
      </c-col>
      <c-col xs="12">
        <div class="mb-2">
          <label cLabel for="pass">New Password</label>
          <input
            id="pass"
            type="password"
            formControlName="password"
            aria-label="default input"
            cFormControl
            [ngClass]="{ 'is-invalid': (submitted || f['password'].touched) && f['password'].invalid }"
            placeholder="New Password"
          />
          <div col="12" class="invalid-feedback" *ngIf="f['password'].errors">
            <div *ngIf="f['password'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Current password is required.</div>
          </div>
        </div>
      </c-col>
      <c-col xs="12">
        <div class="mb-2">
          <label cLabel for="confirm">Confirm Password</label>
          <input
            id="confirm"
            type="password"
            formControlName="confirm"
            aria-label="default input"
            cFormControl
            [ngClass]="{ 'is-invalid': (submitted || f['confirm'].touched) && f['confirm'].invalid }"
            placeholder="Confirm Password"
          />
          <div col="12" class="invalid-feedback" *ngIf="f['confirm'].errors">
            <div *ngIf="f['confirm'].errors['required']"> <svg cIcon name="cilXCircle"></svg> Confirmation is required.</div>
          </div>
        </div>
      </c-col>
    </c-row>

    <c-row>
      <c-col xs="12" class="text-end pt-3">
        <button type="submit" class="btn btn-dark mx-1">Submit</button>
        <button type="button" class="btn btn-dark" [routerLink]="['../profile']">Cancel</button>
      </c-col>
    </c-row>
  </form>
</div>
