<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8" lg="6" xl="5">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="form" cForm (ngSubmit)="onSubmit()" novalidate class="needs-validation">
                <div class="logo">
                  <img *ngIf="!isClimsoft" src="./assets/img/brand/opencdms-logo.png" alt="">
                  <img *ngIf="isClimsoft" src="./assets/img/brand/climsoft_sm.png" alt="">
                </div>
                <h2>Login</h2>
                <p class="text-medium-emphasis">Sign In to your account</p>

                <c-row *ngIf="submitted && !f['db'].value">
                  <c-col class="mt-2 mb-3">
                    <div class="error-block"> <svg cIcon name="cilFaceDead"></svg> Please Select a database.</div>
                  </c-col>
                </c-row>

                <c-input-group class="mb-3">
                  <span cInputGroupText [ngClass]="{ 'invalid': (submitted || f['db'].touched) && f['db'].invalid }">
                    <svg cIcon name="cilStorage"></svg>
                  </span>
                  <select formControlName="db"
                          aria-label="Database"
                          cSelect
                          [ngClass]="{ 'is-invalid': (submitted || f['db'].touched) && f['db'].invalid }">
                      <option value>Please Select  Database</option>
                      <option *ngFor="let op of dbOptions" [value]="op.value">{{op.key}}</option>
                  </select>
                  <div col="12" class="invalid-feedback" *ngIf="f['db'].errors">
                    <div *ngIf="f['db'].errors['required']">Database selection required.</div>
                  </div>
                </c-input-group>

                <c-input-group class="mb-3">
                  <span cInputGroupText [ngClass]="{ 'invalid': (submitted || f['username'].touched) && f['username'].invalid }">
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    formControlName="username"
                    [autofocus]="true"
                    cFormControl
                    [ngClass]="{ 'is-invalid': (submitted || f['username'].touched) && f['username'].invalid }"
                    placeholder="Username" />
                    <div col="12" class="invalid-feedback pl-1" *ngIf="f['username'].errors">
                      <div *ngIf="f['username'].errors['required']"> <i class="fa fa-times"></i> Username is required.</div>
                    </div>
                </c-input-group>

                <c-input-group class="mb-3">
                  <span cInputGroupText [ngClass]="{ 'invalid': (submitted || f['username'].touched) && f['username'].invalid }">
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    type="password"
                    formControlName="password"
                    cFormControl
                    [ngClass]="{ 'is-invalid': (submitted || f['password'].touched) && f['password'].invalid }"
                    placeholder="Password"
                  />
                  <div col="12" class="invalid-feedback" *ngIf="f['password'].errors">
                    <div *ngIf="f['password'].errors['required']">Password is required.</div>
                  </div>
                </c-input-group>

                <!-- <c-input-group class="mb-3">
                  <span cInputGroupText [ngClass]="{ 'invalid': (submitted || f['api'].touched) && f['api'].invalid }">
                    <svg cIcon name="cil-sitemap"></svg>
                  </span>
                  <select formControlName="api"
                          aria-label="Hour"
                          cSelect
                          [ngClass]="{ 'is-invalid': (submitted || f['api'].touched) && f['api'].invalid }">
                      <option value>Please Select</option>
                      <option *ngFor="let op of apiOptions" [value]="op.value">{{op.key}}</option>
                  </select>
                  <div col="12" class="invalid-feedback" *ngIf="f['api'].errors">
                    <div *ngIf="f['api'].errors['required']">Target API selection required.</div>
                  </div>
                </c-input-group> -->

                <c-row *ngIf="submitted && error">
                  <c-col class="mt-2 mb-3">
                    <div class="error-block"> <svg cIcon name="cilFaceDead"></svg> Authentication failed, Please try again.</div>
                  </c-col>
                </c-row>
                <c-row [ngClass]="{ 'mt-3': !error }">
                  <c-col xs="6">
                    <button type="submit" cButton class="px-4" color="dark">
                      <c-spinner *ngIf="loading" aria-hidden="true" size="sm"></c-spinner>
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-end" xs="6">
                    <a class="px-0" color="link" [routerLink]="['/forgot-password']">
                      Forgot password?
                    </a>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
